In [1]:
import os
os.chdir('/Users/marcb/Desktop')
os.getcwd()

'C:\\Users\\marcb\\Desktop'

In [11]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import datetime as dt
infile1 = "CO2 Data/raw_data/Seca Floresta/Pit 1/Seca_Floresta.csv" 
df = pd.read_csv(infile1, na_values='NAN', skiprows=15, parse_dates=[0], index_col=0)

In [13]:
df=df.loc[df['Pit number'] == 1] 
df=df.drop(columns='Treatment')

In [14]:
df.mask(df<=-0.01, inplace=True)
df

            Pit number  Depth     VWC  conc_CO2  conc_N2O
Date
1999-12-09           1      10    NaN      0.74       0.70
1999-12-09           1      25    NaN      1.49       1.29
1999-12-09           1      30  0.337       NaN        NaN
1999-12-09           1      50  0.217      1.96       1.85
1999-12-09           1     100  0.212      1.96       0.54
...                ...     ...    ...       ...        ...
2002-06-14           1     700  0.355      1.04       0.38
2002-06-14           1     800  0.353       NaN        NaN
2002-06-14           1     900  0.372       NaN        NaN
2002-06-14           1    1000  0.362       NaN        NaN
2002-06-14           1    1100  0.362      1.81       0.44

[195 rows x 5 columns]